body{
	font-size: 16px;
	background-color: #272727;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
}
a{
	color:#fff;
	text-decoration: none;
}
.homesite{
	position: fixed;
	right: 20px;
	top:10px;
}
.homesite a{
	color:#fff;
	font-size: 2rem;
}
.wrapper1{
	width: 800px;
	margin:0 auto;
}
header{
	text-align: center;
	color:#fff;
}
.wrapper1 h1{
	font-size: 3rem;
}
.wrapper1 h2 a{
	font-size: 1rem;
	padding: 15px 0 0 0;
}
.formbody{
	width: 500px;
	display: block;
	height: auto;
	margin:30px auto;
	position: relative;
}
.formbody .header h3{
	font-size: 2rem;
}
.formbody .header i{
	font-size: 2rem;
	color:#fff;
	position: absolute;
	top:10px;
	right:0px;
}
.formbody .bodyBox{
	margin:20px 0 20px 0;
}
.bodyBox .Box{
	margin: 15px 0 0 0;
	position: relative;
}
.bodyBox .label{
	z-index: 99;
	color:#333;
	cursor: pointer;
	display: block;
	top:0;
	left:0;
	position: absolute;
}
.bodyBox .noneType{
	font-size: 1.2rem;
	margin: 20px 0 0 10px;
	transition: 0.3s;
}
.bodyBox .typeLabel{
	font-size: 0.8rem;
	font-weight: 600;
	color:rgba(0,0,0,0.7);
	transition: 0.3s;
	margin:5px 0 0 10px;
}
.bodyBox input{
	outline: none;
	z-index: 9;
	width: 470px;
	height: 50px;
	font-size: 1.2rem;
	color:#333;
	margin: 5px 0 0 0;
	border:none;
	border-radius: 3px;
	padding: 10px 20px 0 10px;
}
.bodyBox input:focus{
}